#header > button {
    position: absolute;
    height: 24px;
    margin-top: 6px;
    background-color: #868686;
    border: 1px solid #566963;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

#header > div#mainMenuIcon {
    position: absolute;
    display: inline-block;
    left: 12px;
    top: 4px;
    width: 32px;
    height: 28px;
    cursor: pointer;
}
#header > div#mainMenuIcon > img {
    position: relative;
    width: 100%;
    height: 100%;
}
#header > div#mainMenuIcon { opacity: 0.4; }
#header > div#mainMenuIcon:hover { opacity: 1.0; }
#header > div#mainMenuIcon.selected { opacity: 1.0; }

#header > div#mainMenu {
    position: absolute;
    left: 0;
    top: 40px;
    width: 180px;
    background-color: #717171;
    border-right: 4px solid #585858;
    border-bottom: 4px solid #585858;
    z-index: 9999;
}
#header > div#mainMenu:not(.open) {
    display: none;
    height: 0px;
}
#header > div#mainMenu.open {
    display: block;
    height: 80px;
    animation-name: mainMenuOpen;
    animation-duration: 0.15s;
}
@keyframes mainMenuOpen {
    from { height: 0px; }
    to { height: 80px; }
}

#header > div#mainMenu > ul {
    position: relative;
    width: 100%;
    height: 100%;
}
#header > div#mainMenu > ul > li.menuItem {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #ffffff33;
}
#header > div#mainMenu > ul > li.menuItem:hover { opacity: 0.7; cursor: pointer; }
#header > div#mainMenu > ul > li.menuItem > div {
    position: relative;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    color: white;
    font-size: 14px;
}

#header > button:not(.input) { width: 80px; }
#header > button.input {
    display: inline-block;
    padding-left: 14px;
    padding-right: 14px;
    background-color: #f0f0f0;
    color: black;
    letter-spacing: 0.2px;
}
#header > button:hover { opacity: 0.75; }

#header > button#projectName {
    position: static;
    margin-left: 80px;
}
#header > button#loadProject {
    position: static;
    display: inline-block;
    margin-left: 7px;
    width : 54px;
}
#header > button#saveProject {
    position: static;
    display: inline-block;
    margin-left: 7px;
    width : 54px;
}
#header > input#projectType {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}
#header > label#projectTypeLabel {
    display: inline-block;
    margin-left: -3px;
    color: white;
    font-size: 14px;
}
#header > button#projectAuthor { right: 220px; }
#header > button#patchNote { right: 120px; }
#header > button#appInfo { right: 20px; }
#header > input#loadProjectFile { display: none; }

/* Dialog */
/* .extractTrigger.ui-dialog { background: green; } */
#header > #extractTriggerDialog { display: none; }
#extractTriggerDialog span { /* is not in header */
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
#extractTriggerDialog select { /* is not in header */
    height: 24px;
}
#extractTriggerDialog > div {
    margin-bottom: 18px;
}
#extractTriggerDialog > div.short-interval {
    margin-bottom: 2px;
}
#extractTriggerDialog button#extract {
    display: block;
    width: 200px;
    height: 40px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}
#extractTriggerDialog #stageLocation > * { display: block; margin-bottom: 4px; }
#extractTriggerDialog #reviveLocation > * { display: block; margin-bottom: 4px; }
#extractTriggerDialog #levelLocationHeaderExample { font-weight: normal; }
#extractTriggerDialog #reviveLocationHeaderExample { font-weight: normal; }