html, body {
    width: 100%;
    height: 100%;
    min-width: 927px;
    min-height: 650px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}