#left > section {
    position: static;
    float: left;
    height: 100%;
    background-color: #797979;
}

#left > section { display: none; }
#left > section.open {
	display: block;
	overflow-y: hidden;
}

#left > section > .infoTab {
	position: relative;
	overflow-y: scroll;
	-ms-overflow-style: none; /* Hide scrollbars for IE and Edge */
	scrollbar-width: none; /* Hide scrollbars for Firefox */
}
#left > section > .infoTab::-webkit-scrollbar { display: none; } /* Hide scrollbars for other browsers */
#left > section > #infoTab1 li { margin-bottom: 15px; }
#left > section > #infoTab1 li:first-of-type { margin-top: 15px; }
#left > section > #infoTab1 li:last-of-type { margin-bottom: 40px; }
#left > section > #infoTab1 button {
    position: relative;
    left: 10%;
    width: 80%;
    height: 30px;
    font-size: 13px;
	box-shadow: inset 0px 1px 0px 0px #dddddd;
	background: linear-gradient(to bottom, #dddddd 5%, #d0d0d0 100%);
	background-color: #dddddd;
	border: 1px solid #dcdcdc;
    text-shadow: 0px 1px 0px #dddddd;
    color: #666666;
	border-radius: 6px;
	cursor: pointer;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
}

#left > section > #infoTab1 button:hover {
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color: #ffffff;
}
#left > section > #infoTab1 button.selected {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color: #ffffff;
	border: 1px solid #dcdcdc;
	text-shadow: 0px 1px 0px #ffffff;
	color: #333333;
}