#right > article {
    position: relative;
    width: 100%;
    height: calc(100% - 24px - 221px);
    min-height: calc(320px + 17px); /* 17px -> Scrollbar Size */
    margin-bottom: 4px;
    background-color: #a8a8a8;
    overflow: scroll;
}

#right > article > div { position: absolute; }
#right > article canvas { position: absolute; }