#right > header {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #909090;
    border-bottom: 2px solid #454545;
}

#right > header > div {
    width: 100%;
    height: 100%;
}

#right > header button {
    position: absolute;
    width: 102px;
    height: 20px;
    margin-top: 5px;
    background-color: #868686;
    border: 1px solid #566963;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

#right > header button:hover { opacity: 0.75; }
#right > header button#newPattern { left: 10px; }
#right > header button#loadPattern { left: 127px; }
#right > header button#savePattern { left: 244px; }
#right > header button#sharePattern { left: 361px; }
#right > header button#working { left: 10px; }
#right > header input#loadPatternFile { display: none; }