#right > section {
    position: relative;
    width: 100%;
    height: 185px;
    background-color: #909090;
}

#right > section > #sectionTab1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

#right > section > #sectionTab1 > div#mode {
    position: absolute;
    width: calc(170px - 2px); /* 2px for border-right */
    height: 100%;
    border-right: 2px solid #484848;
}

#right > section > #sectionTab1 > div:not(#mode) {
    position: absolute;
    left: 170px;
    width: calc(100% - 170px);
    height: 100%;
}

/* span, button default css */
#right > section span {
    position: absolute;
    display: block;
    font-size: 14px;
    line-height: 200%;
}

#right > section button.mode {
    position: absolute;
    
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: linear-gradient(to bottom, #7fb3a5 5%, #799c91 100%);
	background-color: #7fb3a5;
	border-radius: 5px;
	border: 1px solid #799c91;
	cursor: pointer;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	padding: 11px 23px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b665e;
}
#right > section button.mode:hover {
	background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color: #6c7c7c;
}
#right > section button.mode.selected {
	box-shadow: inset 0px 1px 3px 0px #9da3a2;
	background: linear-gradient(to bottom, #78676b 5%, #827876 100%);
	background-color: #78676b;
	border: 1px solid #827876;
	text-shadow: 0px -1px 0px #37514d;
}
#right > section button.mode.selected:hover {
	background: linear-gradient(to bottom, #84525a 5%, #8e6365 100%);
	background-color: #84525a;
}

/* Tab 1 */

/** 모드 선택 **/
#right > section > #sectionTab1 > #mode > span#creationMode {
    left: 24px;
    color: white;
}

#right > section > #sectionTab1 > #mode > button#terrainMode {
    left: 24px;
    top: 30px;
    width: 120px;
    height: 40px;
}

#right > section > #sectionTab1 > #mode > button#locationMode {
    left: 24px;
    top: 80px;
    width: 120px;
    height: 40px;
}

#right > section > #sectionTab1 > #mode > button#bombMode {
    left: 24px;
    top: 130px;
    width: 120px;
    height: 40px;
}

/** 지형 모드 **/
#right > section > #sectionTab1 > #terrain > span#tileset {
    left: 24px;
    color: white;
}

#right > section > #sectionTab1 > #terrain > select#tilesets {
    position: absolute;
    left: 24px;
    top: 34px;
    width: 150px;
    height: 30px;
}

#right > section > #sectionTab1 > #terrain > span#tile {
    left: 220px;
    color: white;
}
#right > section > #sectionTab1 > #terrain > div.tiles {
    position: absolute;
    left: 220px;
    top: 30px;
    border: 1px solid black;
}
#right > section > #sectionTab1 > #terrain > div.tiles > canvas.image { position: absolute; }
#right > section > #sectionTab1 > #terrain > div.tiles > div.tile {
    position: absolute;
    left: 0;
    top: 0;
}

#right > section > #sectionTab1 > #terrain > span#tileSize {
    left: 485px;
    color: white;
}

#right > section > #sectionTab1 > #terrain > input {
    position: absolute;
    top: 30px;
    width: 40px;
}
#right > section > #sectionTab1 > #terrain > input#tileWidth { 
    left: 485px;
    height: 20px;
    font-size: 16px;
    text-align: center;
}
#right > section > #sectionTab1 > #terrain > span#multiply {
    left: 535px;
    top: 30px;
    color: white;
}
#right > section > #sectionTab1 > #terrain > input#tileHeight {
    left: 548px;
    height: 20px;
    font-size: 16px;
    text-align: center;
}

/** 로케이션 모드 **/
#right > section > #sectionTab1 > #location > span#labelHeader {
    left: 24px;
    color: white;
}
#right > section > #sectionTab1 > #location > input#labelHeaderText {
    position: absolute;
    left: 24px;
    top: 34px;
    width: 150px;
    height: 30px;
    text-align: center;
}
#right > section > #sectionTab1 > #location > input#zeroPadCheckBox {
    position: absolute;
    left: 20px;
    top: 95px;
}
#right > section > #sectionTab1 > #location > label#zeroPadText {
    position: absolute;
    left: 40px;
    top: 97px;
    font-size: 14px;
    color: #fafafa;
}
#right > section > #sectionTab1 > #location > span#example {
    left: 324px;
    color: white;
}
#right > section > #sectionTab1 > #location > canvas#exampleCanvas {
    position: absolute;
    top: 34px;
    left: 324px;
}

/** 폭탄 모드 **/
#right > section > #sectionTab1 > #bomb > span#bombUnit1 {
    left: 24px;
    color: white;
}
#right > section > #sectionTab1 > #bomb > select#bombUnits1 {
    position: absolute;
    left: 24px;
    top: 29px;
    width: 230px;
    height: 30px;
}
#right > section > #sectionTab1 > #bomb > span#bombUnit2 {
    left: 24px;
    top: 59px;
    color: white;
}
#right > section > #sectionTab1 > #bomb > select#bombUnits2 {
    position: absolute;
    left: 24px;
    top: 88px;
    width: 230px;
    height: 30px;
}
#right > section > #sectionTab1 > #bomb > span#bombUnit3 {
    left: 24px;
    top: 118px;
    color: white;
}
#right > section > #sectionTab1 > #bomb > select#bombUnits3 {
    position: absolute;
    left: 24px;
    top: 147px;
    width: 230px;
    height: 30px;
}

#right > section > #sectionTab1 > #bomb > span#blockUnit {
    left: 298px;
    color: white;
}
#right > section > #sectionTab1 > #bomb > select#blockUnits {
    position: absolute;
    left: 298px;
    top: 29px;
    width: 230px;
    height: 30px;
}

#right > section > #sectionTab1 > #bomb > input[type=radio] {
    position: absolute;
}
#right > section > #sectionTab1 > #bomb > label {
    position: absolute;
}

#right > section > #sectionTab1 > #bomb > span#blockUnitCreateProcess {
    left: 298px;
    top: 70px;
    color: white;
    font-size: 13px;
}
#right > section > #sectionTab1 > #bomb > input#blockOption1Kill {
    left: 391px;
    top: 74px;
}
#right > section > #sectionTab1 > #bomb > label#blockOption1KillLabel {
    left: 411px;
    top: 76px;
    color: white;
    font-size: 13px;
}
#right > section > #sectionTab1 > #bomb > input#blockOption1Remove {
    left: 429px;
    top: 74px;
}
#right > section > #sectionTab1 > #bomb > label#blockOption1RemoveLabel {
    left: 449px;
    top: 76px;
    color: white;
    font-size: 13px;
}
#right > section > #sectionTab1 > #bomb > input#blockOption1Live {
    left: 479px;
    top: 74px;
}
#right > section > #sectionTab1 > #bomb > label#blockOption1LiveLabel {
    left: 499px;
    top: 76px;
    color: white;
    font-size: 13px;
}

#right > section > #sectionTab1 > #bomb > span#blockUnitDeleteProcess {
    left: 298px;
    top: 90px;
    color: white;
    font-size: 13px;
}
#right > section > #sectionTab1 > #bomb > input#blockOption2Kill {
    left: 404px;
    top: 94px;
}
#right > section > #sectionTab1 > #bomb > label#blockOption2KillLabel {
    left: 424px;
    top: 96px;
    color: white;
    font-size: 13px;
}
#right > section > #sectionTab1 > #bomb > input#blockOption2Remove {
    left: 442px;
    top: 94px;
}
#right > section > #sectionTab1 > #bomb > label#blockOption2RemoveLabel {
    left: 462px;
    top: 96px;
    color: white;
    font-size: 13px;
}

#right > section > #sectionTab1 > #bomb > span#tabKeyNotice1 {
    left: 298px;
    top: 127px;
    color: white;
}
#right > section > #sectionTab1 > #bomb > span#tabKeyNotice2 {
    left: 298px;
    top: 149px;
    color: white;
}

#right > section > #sectionTab1 > #bomb > button.control {
    position: absolute;
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: linear-gradient(to bottom, #7fb3a5 5%, #799c91 100%);
	background-color: #7fb3a5;
	border-radius: 5px;
	border: 1px solid #799c91;
	cursor: pointer;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b665e;
}
#right > section > #sectionTab1 > #bomb > button.control:hover {
	background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color: #6c7c7c;
}

#right > section > #sectionTab1 > #bomb > span#turnControl {
    left: 574px;
    color: white;
}
#right > section > #sectionTab1 > #bomb > span#showTurns {
    left: 654px;
    font-size: 15px;
    color: white;
}
#right > section > #sectionTab1 > #bomb > button#addTurn {
    left: 724px;
    top: 3px;
    width: 40px;
    height: 24px;
    font-size: 13px;
}
#right > section > #sectionTab1 > #bomb > button#insertTurn {
    left: 774px;
    top: 3px;
    width: 40px;
    height: 24px;
    font-size: 13px;
}

#right > section > #sectionTab1 > #bomb > button#toFirst {
    left: 574px;
    top: 34px;
    width: 40px;
    height: 30px;
}
#right > section > #sectionTab1 > #bomb > button#toPrev {
    left: 624px;
    top: 34px;
    width: 40px;
    height: 30px;
}
#right > section > #sectionTab1 > #bomb > input#currentTurn {
    position: absolute;
    left: 674px;
    top: 34px;
    width: 40px;
    height: 25px;
    font-size: 18px;
    text-align: center;
}
#right > section > #sectionTab1 > #bomb > button#toNext {
    left: 724px;
    top: 34px;
    width: 40px;
    height: 30px;
}
#right > section > #sectionTab1 > #bomb > button#toLast {
    left: 774px;
    top: 34px;
    width: 40px;
    height: 30px;
}

#right > section > #sectionTab1 > #bomb > span#setWait {
    left: 574px;
    top: 86px;
    color: white;
}
#right > section > #sectionTab1 > #bomb > input#wait {
    position: absolute;
    left: 664px;
    top: 86px;
    width: 64px;
    height: 20px;
    font-size: 15px;
    text-align: center;
}
#right > section > #sectionTab1 > #bomb > button#play {
    left: 750px;
    top: 84px;
    width: 66px;
    height: 29px;
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
}

#right > section > #sectionTab1 > #bomb > span#waitRange {
    left: 574px;
    top: 118px;
    color: white;
    font-size: 12px;
}
#right > section > #sectionTab1 > #bomb > span#waitRangeResult {
    left: 698px;
    top: 118px;
    color: white;
    font-size: 12px;
}
#right > section > #sectionTab1 > #bomb > span#actualTime {
    left: 574px;
    top: 138px;
    color: white;
    font-size: 12px;
}
#right > section > #sectionTab1 > #bomb > span#actualTimeResult {
    left: 677px;
    top: 138px;
    color: white;
    font-size: 12px;
}
#right > section > #sectionTab1 > #bomb > span#deathValue {
    left: 574px;
    top: 158px;
    color: white;
    font-size: 12px;
}

#right > section > #sectionTab1 > #bomb > span#deathValueResult {
    left: 636px;
    top: 158px;
    color: white;
    font-size: 12px;
}

/* Tab 2 */
#right > section > #sectionTab2 span#temp { /* temporary code */
    left: 10px;
    color: white;
}